doctype html 
html 
  head 
    meta(charset='UTF-8')
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon', type='image/png', href='img/favicon.png')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
    title Natours | #{ title }

  body 
    include _header

    block content
      h1 this a placeholder haeding
      
    include _footer
